<!doctype html>
<html>
  <head>
    <title>UniConnect</title>
    
    <link href = "link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" rel="stylesheet">
    <link  rel="stylesheet" href="{{ url_for('static', filename = 'main.css')}}">
    <script src="{{ url_for('static', filename = 'main.js')}}"></script>
  </head>
  <body>
    <!-- Navbar-->
    <header class="header">
      <nav class="navbar navbar-expand-lg fixed-top py-3">
          <div class="container"><a href="#" class="navbar-brand text-uppercase font-weight-bold">UniConnect</a>
              <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button>
              
              <div id="navbarSupportedContent" class="collapse navbar-collapse">
                  <ul class="navbar-nav ml-auto">
                      <li class="nav-item active"><a href="#" class="nav-link text-uppercase font-weight-bold">Home</a></li>
                      <li class="nav-item"><a href="#" class="nav-link text-uppercase font-weight-bold">About Us</a></li>
                      <li class="nav-item"><a href="#" class="nav-link text-uppercase font-weight-bold">Registration</a></li>
                      <li class="nav-item"><a href="#" class="nav-link text-uppercase font-weight-bold">Login</a></li>
                      <li class="nav-item"><a href="#" class="nav-link text-uppercase font-weight-bold">Find Location</a></li>
                  </ul>
              </div>
          </div>
      </nav>
    </header>
    <section class="About Us">

    </section>
    <section class="Register">

    </section>
    <section class="Log in">

    </section>
    <section class="Find Location">
      
    </section>
    <div id="map"></div>
    <div id="container">
      <div id="sidebar">
        <p>Total Distance: <span id="total"></span></p>
        <div id="panel"></div>
      </div>
    </section>
    <div class="Server_Info">
      <button class="Determine_Results"> Determine Results</button>
      <p class="print_server"> User_info: </p>
    </div>
    <script
    src="https://maps.googleapis.com/maps/api/js?key={`GOOGLE_API_KEY`}&callback=initMap&v=weekly"
    defer
  ></script>
  <script src="{{ url_for('static', filename = 'server.js')}}"></script>
  </body>
</html>
